.fa-trash-alt{
    color: #d96060;
}
.btn-light{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}
.add_row{
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
}
.remove_row{
    background: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
}
